node_modules/

android/.gradle/
android/build/
android/app/build/

frontend/GeneratorMobile/android/app/src/main/assets/index.android.bundle

*.apk
*.aab

.env
.DS_Store



































.DS_Store

npm-debug.log*
yarn-error.log*
